{{> header}}
{{> navbar}}


<div class="menu-content container">
    <div class="menu-profile list-group mt-5 mx-2 my-2">
        <a href="/provinsi" type="button" class="list-group-item list-group-item-action">Provinsi</a>
        <a href="/kabupaten" type="button" class="list-group-item list-group-item-action">Kabupaten</a>
    </div>

    <div class="menu-page">


