{{> header}}
{{> navbar}}

<div class="container main-content">
  
    
    <div class="card-container mt-5">
        {{#each provinces}}
        <div class="card ms-3 mb-3" >
            <img src="{{this.photo}}" class="card-img-top mt-2 p-3">
            <div class="card-body text-center">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text ">Diresmikan: {{this.diresmikan}}</p>
                <a href="/provinsi-detail/{{this.id}}" class="btn btn-primary w-100">Detail</a>
            </div>
        </div>
        {{/each}}
    </div>

    

</div>


{{> footer}}